.headline {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.chapter {
    font-family: Arial, Helvetica, sans-serif;
}

.underchapter {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    gap: 20px;
}

select {
    width: 150px;
}

input {
    width: 150px;
}

article {
    max-width: 70ch;
    margin: 0 auto;
    padding: 2rem;

    font-size: 18px;
    line-height: 1.2;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
}

.breakfast, .breakfast tr, .breakfast td {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
}

.groceries {
    width: 100%;
}

.info_icon {
    width: 25%;
    height: 25%;
    position: relative;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}