.headline {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.chapter {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    gap: 20px;
}

select {
    width: 150px;
}

input {
    width: 150px;
}

article {
    max-width: 70ch;
    margin: 0 auto;
    padding: 2rem;

    font-size: 18px;
    line-height: 1.2;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
}

.breakfast, .breakfast tr, .breakfast td {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
}

.groceries {
    width: 100%;
}
